.parallax::before
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    background-attachment: fixed

    filter: brightness(.6)
.contador
    position: relative
    height: auto
.contador::before
    background-image: url(../img/bg-resumen.jpg)
    content: ''

ul.resumen-evento
    position: relative
    padding: 12rem 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    li
        text-align: center
        color: #ffffff
        text-transform: uppercase
        font-family: 'Oswald', sans-serif
        font-size: 2.4rem
        
p.numero
    font-weight: bold
    color: #fe4918
    font-size: 7rem!important
    display: block
    margin: 0 0 1rem 0


/*  CUENTA REGRESIVA */

div.cuenta-regresiva
    ul.lista-cuenta-regresiva
        display: grid
        grid-template-columns: repeat(2, 1fr)
        li
            text-transform: uppercase
            font-family: 'Oswald', sans-serif
            font-size: 2rem
            text-align: center
