//** Header
div.hero
    div.contenido-header
        @media (min-width: 768px)
            h1.nombre-sitio
                font-size: 11.5vw!important
                margin: 0
                line-height: 1
