/*  GLOBALES  */
@media (min-width: 480px)
    .contenedor
        width: 95%
@media (min-width: 768px)
    .contenedor
        width: 90%
@media (min-width: 992px)
    .contenedor
        width: 90%
        max-width: 130rem


//** Header
header
    div.hero
        div.contenido-header
            @media (min-width: 768px)
                h1.nombre-sitio
                    font-size: 11.5vw!important
                    margin: 0
                    line-height: 1
.barra
    background: #353535
    padding: 2rem 0
    @media (min-width: 768px)
        .contenedor
            display: grid
            grid-template-columns: 50% 50%
            align-items: center
            .menu-mobil
                display: none
            @media (min-width: 768px)
                .logo
                    width: 60%
            @media (min-width: 768px)
                nav.navegacion-principal
                    display: block
                    a
                        width: auto
                        display: inline-block


//**  Programa
.programa
    .contenido-programa
    @media (min-width: 768px)
        .programa-evento
            width: 60%
    @media (min-width: 992px)
        .programa-evento
            width: 40%
    @media (min-width: 768px)    
            nav.menu-programa
                display: table
    @media (min-width: 768px)    
            a
                display: table-cell!important


// INVITADOS
.section.invitados
    @media (min-width: 768px)
        .lista-invitados
            grid-template-columns: repeat(2, 1fr)
    @media (min-width: 992px)
        .lista-invitados
            grid-template-columns: repeat(3, 1fr)


//  CONTADOR
.contador
@media (min-width: 768px)
    ul.resumen-evento
        li
            width: 25%!important


// TABLA PRECIOS
@media (min-width: 768px)
    .tablas-precios        
        grid-template-columns: repeat(3, 1fr)
